
.gif{
    position: relative;  
}

.gif img{
    width: 100%;
 
}

.gif-title{
    background-color: rgba(0, 0, 0, .4);
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    position: absolute;
    left: 0;
    bottom:6px;
    border-radius: 0 3px 0 0;
}

.listOfGifs-item{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: white;
    display: inline-block;
    width: 100%;
}