:root{
    --colums-result:2;
}

.listOfGifs{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(var(--colums-result),1fr);
    grid-template-rows: masonry;
    gap: .5em;
    align-items: center;
}



@media (min-width: 600px){
    :root{
        --colums-result:3;
    }
}

@media (min-width: 800px){
    :root{
        --colums-result:4;
    }
}