:root{
    --colums-result:2;
}

.listOfGifs{
    width: 100%;
    column-count: var(--colums-result);
    gap: .5em;
}



@media (min-width: 600px){
    :root{
        --colums-result:3;
    }
}

@media (min-width: 800px){
    :root{
        --colums-result:4;
    }
}